.about {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}



.about__header {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.about__block {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.about__block svg {
    margin-right: 1.25rem;
}

@media (max-width: 43.75rem) {
    .about__header {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }
    
}

@media (max-width: 25rem) {
    .about__header {
        font-size: 1rem;
    }
}