.partners {
    max-height: 13rem;
    height: 100%;
}

.partners__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners__logo img {
    max-height: 4.5rem;
    height: 100%;
}

.partners__logo img:nth-child(2) {
    max-height: 2rem;
    height: 100%;
}

@media (max-width: 43.75rem) {
    .partners {
        max-height: none ;
        height: auto;
    }
    .partners__logo {
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
    }
    .partners__logo img {
        max-height: 3.5rem;
    }
}